{% extends 'navbar.html' %}

{% load static %}

{% block meta %}
<title>Form Buat Makan</title>
{% endblock meta %}


{% block content %}
    <table style="width:100%">
        <tr>
            <th>FORM BUAT MAKAN</th>
        </tr>
        
        <tr>
            {% if content %}
            <form action="/create-makan/" method="post" >
                {% csrf_token %} 
            <td>
                    <label for="nama-tokoh">Nama Tokoh:</label>
                    <select name="nama-tokoh" id="nama-tokoh" required>
                        {% for data in content %}
                      <option value="{{data.0}}">{{data.0}}</option>
                      {% endfor %}
                    </select>

                    <br><br>

                    <label for="nama-makanan">Nama Makanan:</label>
                    <select name="nama-makanan" id="nama-makanan" required>
                        {% for data in daftar_makanan %}
                        <option value="{{data.0}}">{{data.0}}</option>
                        {% endfor %}
                      </select>
                    <br><br>

                   

                    <button type="submit" value="submit">SIMPAN</button>
                  </form>
        
        </td>
        
        </tr>
        
        {% endif %}
</table>
{% if messages %}
<ul class="messages" style="color:red;">
{% for message in messages %}
{% if message.tags %} {% endif %} {{ message }}
{% endfor %}
</ul>
{% endif %}
{% endblock content %}