{% extends 'navbar.html' %}

{% load static %}

{% block meta %}
<title>Read Menggunakan Barang</title>
{% endblock meta %}

{% block content %}
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Nama Tokoh</th>
        <th scope="col">Pekerjaan</th>
        <th scope="col">Base Honor</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    {% for i in response %}
        <tbody>
            <tr>
              <td>{{ i.0 }}</td>
              <td><select class="form-select" aria-label="Default select example" id="select-pekerjaan{{ i.0 }}">
                  <option selected>Select pekerjaan</option>
                  {% for j in responsepekerjaan %}
                      <option value="{{ j }}">{{ j.0 }}</option>
                  {% endfor %}
              </select></td>
              <td>Empty</td>
              <td><button class="btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="mulaiBekerja('{{ i.0 }}')">MULAI BEKERJA</button></td>
            </tr>
        </tbody>
    {% endfor %}   
</table>

<!-- modal 1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                <input type="text" class="form-control" id="id-nama-tokoh" name="nama-tokoh" style="display: none;">
                <input type="text" class="form-control" id="id-bekerja" name="bekerja-sebagai" style="display: none;">
                <input type="text" class="form-control" id="id-bekerja-honor" name="honor-bekerja" style="display: none;">
                <p id="honor-p"></p>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Yes, Im sure!</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

  <script>
      function mulaiBekerja(x1) {
          var namaTokoh = x1;
          var id_select = 'select-pekerjaan' + x1;
          var select = document.getElementById(id_select)
          let value = select.options[select.selectedIndex].value
          
          const myArray = value.split(" ");
          let pekerjaan = myArray[0].replace("(", "").replace(",", "").replace("'", "").replace("'", "");
          let honor = myArray[1].replace(")", "");
          
          document.getElementById("id-bekerja").value = pekerjaan;
          document.getElementById("id-bekerja-honor").value = honor;
          document.getElementById("id-nama-tokoh").value = namaTokoh;

          document.getElementById("exampleModalLabel").innerHTML = "Are you sure want to work as " + pekerjaan + ", " + namaTokoh +  "?";
          document.getElementById("honor-p").innerHTML = "Honor: " + honor;
      }
  </script>
{% endblock content %}