{% extends 'navbar.html' %}

{% load static %}

{% block meta %}
<title>Detail Misi Utama</title>
{% endblock meta %}


{% block content %}
    <table style="width:100%">
        <tr>
            <th>FORM BUAT MISI UTAMA</th>
        </tr>
        <tr>
        <form action="/create-misi-utama/" method="POST" >
            {% csrf_token %} 
            <td>
            Nama Misi Utama : <input type="text" name="nama" required><br>
            Efek Energi : <input type="number" name="efek_energi" required><br>
            Efek Hubungan Sosial: <input type="number" name="efek_hubungan_sosial" required> <br>
            Efek Kelaparan: <input type="number" name="efek_kelaparan" required> <br>
            Syarat Energi: <input type="number" name="syarat_energi" required> <br>
            Syarat Hubungan Sosial: <input type="number" name="syarat_hubungan_sosial" required><br>
            Syarat Kelaparan: <input type="number" name="syarat_kelaparan" required> <br>
            Completion Time: <input type="time" name="completion_time" required> <br>
            Reward Koin: <input type="number" name="reward_koin" required> <br>
            Reward XP: <input type="number" name="reward_xp" required><br>
            Deskripsi : <input type="text" name="deskripsi" required> 
            <br>
            <br>
            <button type="submit" name="submit_misi" href="/misi-utama">SIMPAN</button>
        
        </td>
        
        </tr>
        
</table>
{% endblock content %}