{% extends 'base_with_navbar_admin.html' %}

{% load static %}

{% block meta %}
<title>Detail Misi Utama</title>
{% endblock meta %}


{% block content %}
    <table style="width:100%">
        <tr>
            <th>DETAIL MISI UTAMA</th>
        </tr>
        {% if content %}
        {% for data in content %}
          <tr>
              <td>
            Nama : {{data.0}} <br>
            Efek Energi : {{data.1}} <br>
            Efek Hubungan Sosial: {{data.2}} <br>
            Efek Kelaparan: {{data.3}} <br>
            Syarat Energi: {{data.4}} <br>
            Syarat Hubungan Sosial: {{data.5}} <br>
            Syarat Kelapatan: {{data.6}} <br>
            Completition Time: {{data.7}} <br>
            Reward Koin: {{data.8}} <br>
            Reward XP: {{data.9}} </td>
          </tr>
          {% endfor %}
          {% endif %}
      </table>
  

{% endblock content %}