{% extends 'navbar.html' %}

{% load static %}

{% block meta %}
<title>Misi Utama Admin</title>
{% endblock meta %}


{% block content %}


    <table id="table_daftar_misi_utama" style="width:100%">
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>


        {% if misi_tidak_dirujuk %}
        {% for data in misi_tidak_dirujuk %}
          <tr>
            <td>{{data.0}}</td>
        <form action="/misi-utama/" method="POST" >
            {% csrf_token %} 
            <td><button type="submit" value="{{data.0}}" name="detail">[Detail] </a>
                <button type="submit" value="{{data.0}}" name="delete">[Delete] </a></td>
                    {% endfor %}
                    {% endif %}
        </form>
          </tr>





          
          {% if misi_dirujuk %}
          {% for data in misi_dirujuk %}
            <tr>
              <td>{{data.0}}</td>
          <form action="/misi-utama/" method="POST" >
              {% csrf_token %} 
              <td><button type="submit" value="{{data.0}}" name="detail">[Detail] </a></td>
                      {% endfor %}
                      {% endif %}
          </form>
            </tr>






      </table>
  

{% endblock content %}