{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Login page</title>
{% endblock meta %}

{% block content %}
<style>
    html {
        background-color: #CFE4EC;
    }
</style>


<div class="hero-container">
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
              <div class="mb-3">
                <label for="input-username" class="form-label">Username</label>
                <input type="text" class="form-control" id="input-username" aria-describedby="help-input-username" name="username">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="user-password">
              </div>
              <div class="button-div" style="display: flex;">
                  <button type="submit" class="btn btn-primary">Login</button>
                  <p>Don't have account yet?<a href="/register">Register Here</a></p>
              </div>

        </form>
    </div>
</div>
{% endblock content %}
