{% extends 'navbar.html' %}

{% load static %}

{% block meta %}
<title>Form Buat Menjalankan Misi Utama</title>
{% endblock meta %}


{% block content %}
    <table style="width:100%">
        <tr>
            <th>FORM BUAT MENJALANKAN MISI UTAMA</th>
        </tr>
        
        <tr>
        <form action="/create-menjalankan-misi-utama/" method="post" >
      
            {% csrf_token %} 
            <td>
                    <label for="tokoh-misi-misi">Nama Tokoh:</label>
                    {% if content1 %}
                    <select name="nama-tokoh-misi" id="nama-tokoh-misi" required>
                        {% for data in content1 %}
                      <option value="{{data.0}}">{{data.0}}</option>
                      {% endfor %}
                    </select>
                    {% endif %}
                    <br><br>

                    <label for="nama-misi-dipilih">Nama Misi Utama:</label>
                    {% if content2 %}
                    <select name="nama-misi-dipilih" id="nama-misi-dipilih" required>
                        {% for data in content2 %}
                        <option value="{{data.0}}">{{data.0}}</option>
                        {% endfor %}
                      </select>
                      {% endif %}
                    <br><br>


                    <button type="submit" value="submit">SIMPAN</button>
                  </form>
        
        </td>
        
        </tr>
        
       
</table>
{% endblock content %}