{% extends 'base_with_navbar_user.html' %}

{% load static %}

{% block meta %}
<title>Menjalankan Misi Utama Admin</title>
{% endblock meta %}


{% block content %}
    <table style="width:100%">
        <tr>
            <th>Nama Tokoh</th>
            <th>Nama Misi</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% if content %}
        {% for data in content %}
          <tr>
            <td>{{data.0}}</td>
            <td>{{data.1}}</td>
            <td>{{data.2}}</td>
        <form action="/menjalankan-misi-utama/" method="post" >
            {% csrf_token %} 
            <input type="hidden" value="{{data.1}}" name="ubah_menjalankan_misi_utama">
            <input type="hidden" value="{{data.2}}" name="ubah_menjalankan_misi_utama">
            <td><button type="submit"   name="submit_menjalankan"></a></td>
        </form>
          </tr>
          {% endfor %}
          {% endif %}
      </table>
  

{% endblock content %}