{% extends 'base_with_navbar_user.html' %}

{% load static %}

{% block meta %}
<title>Detail Misi Utama</title>
{% endblock meta %}


{% block content %}
    <table style="width:100%">
        <tr>
            <th>FORM UBAH MENJALANKAN MISI UTAMA</th>
        </tr>
        {% if content %}
        {% for data in content %}
            {% csrf_token %} 
        <tr>
            <form action="/menjalankan-misi-utama/" method="post"></form>
                Nama Tokoh
                Nama Misi Utama: {{data.01}} <br><br>   
        </tr>    
            {% endfor %}
            {% endif %}
            </td>
            Status : <input type="text" placeholder="Belum selesai" required> 
            </td> 
            <button type="submit" value="submit" >SIMPAN</button>
        </form>
        </tr>
        
</table>
{% endblock content %}