{% extends 'navbar.html' %}

{% load static %}

{% block meta %}
<title>Ubah menjalankan misi utama</title>
{% endblock meta %}


{% block content %}
    <table style="width:100%">
        <tr>
            <th>FORM UBAH MENJALANKAN MISI UTAMA</th>
        </tr>
        <tr>
        <form action="/update-menjalankan-misi-utama/" method="post" >
        {% csrf_token %} 
        <td>
  

        Nama Tokoh : {{ ubah_nama_tokoh }} <br>
        <input type="hidden" value="{{ ubah_nama_tokoh }}" name="nama_tokoh_menjalankan_misi_utama">

          
        Nama Misi Utama : {{ ubah_nama_misi_utama }} <br>
        <input type="hidden" value= "{{ubah_nama_misi_utama}}" name="misi_utama_status_diubah">

        Status : <input type="text" name="status_misi_baru"  required> 
        <br>
        <button type="submit" nama="submit_ubah_menjalankan_misi_utama" >SIMPANss</a>
    </td>
</form>
    </tr>
        
</table>
{% endblock content %}












