{% extends 'base_with_navbar_user.html' %}

{% load static %}

{% block meta %}
<title>Ubah menjalankan misi utama</title>
{% endblock meta %}


{% block content %}
    <table style="width:100%">
        <tr>
            <th>FORM UBAH MENJALANKAN MISI UTAMA</th>
        </tr>
        {% if content %}
        {% for data in content %}
            {% csrf_token %} 
            <td>

            {% if content %}
            {% for data in content}
          

            Nama Tokoh : {{data.0}} <br>
            Nama Misi Utama : {{data.1}}

          {% endfor }
          {% endif %}
          Status : <input type="text" placeholder="Belum selesai" required>
            <br>
            <button type="submit" >SIMPAN</button>
        </td>
        </tr>
        
</table>
{% endblock content %}












