{% extends 'navbar.html' %}
{% load static %}

{% block meta %}
<title>Create Level</title>
{% endblock meta %}

{% block content %}
    <center> 
    <table>
        <tr>
            <th>FORM BUAT LEVEL</th>
        </tr>
        <tr>
            <form action = "/create-level/" method="post">
                {% csrf_token %}
                <td> 
                    Level : <input type="text" name="level" required>
                    <br>
                    <br>
                    XP : <input type="text" name="XP" required>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button type="submit" >SIMPAN</button>

                </td>
        </tr>

    </table>
    </center>
{% endblock content %}


   