{% extends 'navbar.html' %}
{% load static %}

{% block meta %}
<title>Create Menggunakan Apparel</title>
{% endblock meta %}

{% block content %}

    <center> 
    <table>
        <tr>
            <th>FORM BUAT MENGGUNAKAN APPAREL</th>
        </tr>
        <tr>
            <form action = "/create-menggunakan-apparel/" method="post">
                {% csrf_token %}
                <td> 
                    
                    <label>Nama Tokoh : </label>
                    <select id="nama_tokoh" name="nama_tokoh">
                        {% for data in value_nama %}
                            <option>{{data.0}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <label>Apparel : </label>
                    <select id="apparel" name="apparel">
                        {% for data in value_apparel %}
                            <option>{{data.0}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button type="submit" >PAKAI</button>

                </td>
        </tr>

    </table>
    </center>

{% endblock content %}






<!-- <div class="hero-container">
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Tokoh
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
  </div> -->