{% extends 'navbar.html' %}
{% load static %}

{% block meta %}
<title>Create Warna Kulit</title>
{% endblock meta %}

{% block content %}
    <center> 
    <table>
        <tr>
            <th>FORM BUAT WARNA</th>
        </tr>
        <tr>
            <form action = "/create-warna-kulit/" method="post">
                {% csrf_token %}
                <td> 
                    Kode : <input type="text" name="kode_warna" required>
                    <br>
                    <br>
                    <br>
                    <button type="submit" >SIMPAN</button>

                </td>
        </tr>

    </table>
    </center>
{% endblock content %}


   