{% extends 'navbar.html' %}

{% load static %}

{% block meta %}
<title>Create Tokoh</title>
{% endblock meta %}


{% block content %}
   <h1>CREATE TOKOH</h1>
    <form method="post">
        {% csrf_token %}
        <label for="input-nama-tokoh" class="form-label">Nama Tokoh</label>
        <input type="text" class="form-control" name="create_nama_tokoh" required>

        <label for="input-jenis-kelamin" class="form-label">Jenis kelamin</label>
        <select class="form-select" aria-label="Default select example" name="jenis_kelamin" required>
            <option value="Laki-Laki">Laki-laki</option>
            <option value="Perempuan">Perempuan</option>
        </select>

        <label for="input-warna-kulit" class="form-label">Warna kulit</label>
        <select class="form-select" aria-label="Default select example" name="warna_kulit" required>
            <option value="#EEBA93">#EEBA93</option>
            <option value="#F9E1BD">#F9E1BD</option>
            <option value="#F0CBA5">#F0CBA5</option>
            <option value="#FFEAD5">#FFEAD5</option>
        </select>

        <label for="input-sifat" class="form-label">Sifat</label>
        <select class="form-select" aria-label="Default select example" name="sifat" required>
            <option value="Jenius">Jenius</option>
            <option value="Kreatif">Kreatif</option>
            <option value="Aktif">Aktif</option>
            <option value="Periang">Periang</option>
            <option value="Lawak">Lawak</option>
        </select>

        <label for="input-id-rumah" class="form-label">Pekerjaan</label>
        <select class="form-select" aria-label="Default select example" name="input-nama-pekerjaan" required>
            {% for j in list_pekerjaan %}
                <option value="{{ j.0 }}">{{ j.0 }}</option>
            {% endfor %} 
        </select>

        <button type="submit" class="btn btn-primary">Create Tokoh</button>
    </form>
{% endblock content %}