{% extends 'navbar.html' %}

{% load static %}

{% block meta %}
<title>Create Koleksi Tokoh</title>
{% endblock meta %}

{% block content %}
{% if result_dt %}
{% if result_ik %}

<h3>Form untuk create koleksi tokoh</h3>
<form  action ="/create-koleksi-tokoh/" method = "POST">
    {% csrf_token %} 
    <label>Nama Tokoh: </label>
    <select name = "nama_tokoh" required>
        {% for data in result_dt %}
            <option value = "{{data.0}}">{{data.0}}</option>
        {% endfor %}
    </select>
    <br>


    <label>ID Koleksi: </label>
    <select name = "id_koleksi" required>
        {% for data in result_ik %}
            <option value = "{{data.0}}" >{{data.0}}</option>
        {% endfor %}
    </select>
    <br>
    <button type = "submit" name = "submit_create_koleksi_tokoh" href = "/read-koleksi-tokoh">Simpan</button>
</form>

{% endif %}
{% endif %}
{% endblock content %}