{% extends 'base_with_navbar.html' %}

{% load static %}

{% block meta %}
<title>Login page</title>
{% endblock meta %}


{% block content %}
    <table style="width:100%">
        <tr>
            <th>DETAIL MISI UTAMA</th>
        </tr>
        {% if content %}
        {% for data in content %}
          <tr>
            Nama :
            Efek Energi :
            Efek Hubungan Sosial:
            Efek Kelaparan:
            Syarat Energi:
            Syarat Hubungan Sosial:
            Syarat Kelapatan:
            Completition Time:
            Reward Koin:
            Reward XP:
          </tr>
          {% endfor %}
          {% endif %}
      </table>
  

{% endblock content %}