{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sena, Yoga, Dinda, Michael</title>
{% endblock meta %}

{% block content %}
<style>
  body {
      margin: 0;
  }
  .hero-container {
      background-color: #CFE4EC;
  }
  .nav-bar {
      background-color: #3CAAD6;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 160px;
  }
  .nav-bar a {
      text-decoration: none;
      color: white;
      font-size: 30px;
      font-family: Poppins;
  }
</style>
<div class="hero-container">
  <div class="nav-bar">
      <a href="/" id="nav-1">Home</a>
      <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Tokoh
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <a href="" id="nav-3">Pekerjaan</a>
      <a href="" id="nav-4">Misi</a>
      <a href="" id="nav-5">Makan</a>
      <a href="" id="nav-6">Koleksi</a>
      <a href="" id="nav-7">Penggunaan</a>
      <a href="/login" id="nav-8">Login</a>
  </div>
</div>
{% endblock content %}
