{% extends 'navbar.html' %}

{% load static %}

{% block meta %}
<title>The Cims</title>
{% endblock meta %}

{% block content %}
{% if result_not_refer %}

    <table></table>
    <td>Nama Kategori</td>
    <td>Action</td>
    {% for data in result_not_refer %}
    <tr>
        <br>
         
        <form action = "/read-kategori-apparel/" method = "POST" >
            {% csrf_token %}
            <td>{{data.0}}</td>
            <button type = "submit" value = "{{data.0}}" name = 'delete' href = "/read-kategori-apparel">Delete</button>
        </form>
    </tr>
    {% endfor %}
    <td></td>
    </table>

 {% endif %}

{% if result_refer %}

 <table></table>
 {% for data in result_refer %}
 <tr>
    <td>{{data.0}}</td> <br>
 </tr>
 {% endfor %}
 <td></td>
 </table>




{% endif %}
{% endblock content %}


