{% extends 'base_with_navbar.html' %}

{% load static %}

{% block meta %}
<title>The Cims</title>
{% endblock meta %}

{% block content %}
{% if content_rambut %}
{% if content_mata %}
{% if content_rumah %}
{% if content_barang %}
{% if content_apparel %}

<style>
    #rambut{
        display:none;
    }
    #mata{
        display:none;
    }
    #rumah{
        display:none;
    }
    #barang{
        display:none;
    }

    #apparel{
        display:none;
    }
</style>

<p>Menu List Koleksi</p>
<button onclick="rambutFunct()">Rambut</button>
    <div id="rambut">
    <td>Id</td>
    <td>Harga Jual</td>
    <td>Tipe Rambut</td>
    <td>Action</td>
    {% for data in content_rambut %}
    <tr>
        <br>
        <td>{{data.2}}</td> 
        <td>{{data.3}}</td>
        <td>{{data.1}}</td>
        <td>
            <a href="#">Update</a>
            <td>Delete</td>
        </td>
    </tr>
    {% endfor %}
    </div>
<br>
<button onclick="mataFunct()">Mata</button>
<div id="mata">
    <td>Id</td>
    <td>Harga Jual</td>
    <td>Warna Mata</td>
    <td>Action</td>
    {% for data in content_mata %}
    <tr>
        <br>
        <td>{{data.2}}</td> 
        <td>{{data.3}}</td>
        <td>{{data.1}}</td>
        <td>
            <a href="#">Update</a>
            <td>Delete</td>
        </td>
    </tr>
    {% endfor %}
    </div>
<br>
<button onclick="rumahFunct()">Rumah</button>
<div id="rumah">
    <td>Id</td>
    <td>Nama</td>
    <td>Harga Jual</td>
    <td>Harga Beli</td>
    <td>Kapasitas Barang</td>
    <td>Action</td>
    {% for data in content_rumah %}
    <tr>
        <br>
        <td>{{data.0}}</td> 
        <td>{{data.4}}</td>
        <td>{{data.6}}</td>
        <td>{{data.3}}</td>
        <td>{{data.1}}</td>
        <td>
            <a href="#">Update</a>
            <td>Delete</td>
        </td>
    </tr>
    {% endfor %}
    </div>
<br>
<button onclick="barangFunct()">Barang</button>
<div id="barang">
    <td>Id</td>
    <td>Nama</td>
    <td>Harga Jual</td>
    <td>Harga Beli</td>
    <td>Tingkat Energi</td>
    <td>Action</td>
    {% for data in content_barang %}
    <tr>
        <br>
        <td>{{data.0}}</td> 
        <td>{{data.4}}</td>
        <td>{{data.6}}</td>
        <td>{{data.3}}</td>
        <td>{{data.1}}</td>
        <td>
            <a href="#">Update</a>
            <td>Delete</td>
        </td>
    </tr>
    {% endfor %}
    </div>
<br>
<button onclick="apparelFunct()">Apparel</button>
<div id="apparel">
    <td>Id</td>
    <td>Nama</td>
    <td>Harga Jual</td>
    <td>Harga Beli</td>
    <td>Kategori Apparel</td>
    <td>Nama Pekerjaan</td>
    <td>Action</td>
    {% for data in content_apparel %}
    <tr>
        <br>
        <td>{{data.0}}</td> 
        <td>{{data.6}}</td>
        <td>{{data.8}}</td>
        <td>{{data.5}}</td>
        <td>{{data.2}}</td>
        <td>{{data.1}}</td>
        <td>
            <a href="#">Update</a>
            <td>Delete</td>
        </td>
    </tr>
    {% endfor %}
    </div>
<br>

<script>
    function rambutFunct() {
      var x = document.getElementById("rambut");
      if (x.style.display == "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    function mataFunct() {
      var x = document.getElementById("mata");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    function rumahFunct() {
      var x = document.getElementById("rumah");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    function barangFunct() {
      var x = document.getElementById("barang");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    function apparelFunct() {
      var x = document.getElementById("apparel");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }

</script>

{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endblock content %}