{% extends 'navbar.html' %}

{% load static %}

{% block meta %}
<title>The Cims</title>
{% endblock meta %}

{% block content %}


<table></table>
    <td>id_koleksi</td>
    <td>nama_tokoh</td>
    <td>action</td>
    {% for data in result_not_refer %}
    <tr>
        <form action = "/read-koleksi-tokoh/" method = "POST" >
            {% csrf_token %}
            <td>{{data.0}}</td>
            <td>{{data.1}}</td>
        
            <button type = "submit" value = "{{data.0}}" name = 'delete' href = "/read-koleksi-tokoh">Jual</button>
        </form>
    </tr>
    {% endfor %}

    {% for data in result_refer %}
    <tr>
        <br>
        <td>{{data.0}}</td> 
        <td>{{data.1}}</td>
    </tr>
    {% endfor %}

</table>


{% endblock content %}
