{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Misi Utama User</title>
{% endblock meta %}


{% block content %}
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% if content %}
        {% for data in content %}
          <tr>
            <td>{{data.0}}</td>
        <form action="/detail-misi-utama/" method="post" >
            {% csrf_token %} 
            <input type="hidden" value="{{data.0}}" name="misi_detail">
            <td><button type="submit"   name="submit_misi_detail">[Detail] </a></td>
        </form>
          </tr>
          {% endfor %}
          {% endif %}
      </table>
  

{% endblock content %}