{% extends 'navbar.html' %}
{% load static %}

{% block meta %}
<title>Level admin</title>
{% endblock meta %}

{% block content %}
    <center>
    <table>
        <tr>
             <th>Level</th>
             <th>XP</th>
             <th>Action</th>
        </tr>
        {% if level_deleteable %}
        {% for data in level_deleteable %}

        <tr>
            <td>{{data.0}}</td> 
            <td>{{data.1}}</td>
            <form action = "/level/" method="post">
                {% csrf_token %}     
                <td>
                    <button type="submit" value="{{data.0}}"  name="update_level">[Update] </a>
                    <button type="submit" value="{{data.0}}"  name="delete_level">[Delete] </a></td>
                    {% endfor %}
                    {% endif %}
            </form>
        </tr>

        {% if level_non_deleteable %}
        {% for data in level_non_deleteable %}

        <tr>
            <td>{{data.0}}</td> 
            <td>{{data.1}}</td>
            <form action = "/level/" method="post">
                {% csrf_token %}     
                <td>
                    <button type="submit" value="{{data.0}}"  name="update_level">[Update] </a></td>
                    {% endfor %}
                    {% endif %}
            </form>
        </tr>
        
        
    </table>
    </center>

{% endblock content %}


   