{% extends 'base_with_navbar.html' %}
{% load static %}

{% block meta %}
<title>Menggunakan Apparel Admin</title>
{% endblock meta %}

{% block content %}
    {% if content %}
    <center>
    <table>
        <tr>
             <th>Username Pemain</th>
             <th>Nama Tokoh</th>
             <th>Nama Apparel</th>
             <th>Warna</th>
             <th>Nama pekerjaan</th>
             <th>Kategori</th>
        </tr>
        {% for data in content %}

        <tr>
            <td>{{data.0}}</td> 
            <td>{{data.1}}</td>
            <td>{{data.2}}</td> 
            <td>{{data.3}}</td>
            <td>{{data.4}}</td> 
            <td>{{data.5}}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
    {% endif %}
{% endblock content %}


   