{% extends 'navbar.html' %}
{% load static %}

{% block meta %}
<title>Menggunakan Apparel Pengguna</title>
{% endblock meta %}

{% block content %}
    {% if content %}
    <center>
    <table>
        <tr>
             <th>Nama Tokoh</th>
             <th>Nama Apparel</th>
             <th>Warna</th>
             <th>Nama pekerjaan</th>
             <th>Kategori</th>
             <th>Action</th>
        </tr>
        {% for data in content %}

        <tr>
            <td>{{data.0}}</td> 
            <td>{{data.1}}</td>
            <td>{{data.2}}</td> 
            <td>{{data.3}}</td>
            <td>{{data.4}}</td> 
            
            <form action = "/menggunakan-apparel/" method="post">
                {% csrf_token %}     
                <td>
                    <button type="submit" value="{{data.0}},{{data.5}}" name="delete_menggunakan_apparel">[Lepas]</a></td>
            </form>

        </tr>
        {% endfor %}
    </table>
    </center>
    {% endif %}
{% endblock content %}


   