{% extends 'navbar.html' %}
{% load static %}

{% block meta %}
<title>Warna kulit admin</title>
{% endblock meta %}

{% block content %}
    
    <center>
    <table>
        <tr>
             <th>Kode</th>
             <th>Action</th>
        </tr>

        {% if warna_kulit_deleteable %}
        {% for data in warna_kulit_deleteable %}

        <tr>
            <td>{{data.0}}</td>

            <form action = "/warna-kulit/" method="post">
                {% csrf_token %}     
                <td>
                    <button type="submit" value="{{data.0}}"  name="delete_warna_kulit">[Delete] </a></td>
                    {% endfor %}
                    {% endif %}
            </form>

            
        </tr>

        {% if warna_kulit_non_deleteable %}
        {% for data in warna_kulit_non_deleteable %}

        <tr>
            <td>{{data.0}}</td>
        {% endfor %}
        {% endif %}
            
        </tr>



        
    </table>
    </center>



{% endblock content %}
