{% extends 'navbar.html' %}
{% load static %}

{% block meta %}
<title>Update Level</title>
{% endblock meta %}

{% block content %}
    <center> 
    <table>
        <tr>
            <th>FORM UBAH LEVEL</th>
        </tr>
        <tr>
            <form action = "/update-level/" method="post">
                {% csrf_token %}
                <td> 
                    Level : {{level_diupdate}} <input type="hidden" value="{{level_diupdate}}" name="level_update">
                    <br>
                    <br>
                    XP : <input type="number" name="XP_new" required>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button type="submit" >SIMPAN</button>

                </td>
            </form>
        </tr>

    </table>
    </center>
{% endblock content %}


   