{% extends 'navbar.html' %}

{% load static %}

{% block meta %}
<title>Detail Misi Utama</title>
{% endblock meta %}


{% block content %}
    <table style="width:100%">
        <tr>
            <th>FORM UPDATE MAKANAN</th>
        </tr>
        <tr>
        <form action="/update-makanan/" method="post" >
            {% csrf_token %} 
            <td>

          
            Nama Makanan : {{ makanan_diubah }} <br>
            <input type="hidden" value="{{ makanan_diubah }}" name="makanan_terubah">


            Harga : <input type="text" name="harga_makanan_baru" required> <br>
            Tingkat Energi: <input type="text" name="tingkat_energi_batu" required> <br>
            Tingkat Kelaparan: <input type="text" name="tingkat_kelaparan_baru" required> 
            <br>
            <button type="submit" >SIMPAN</button>
        </td>
        </tr>
        
</table>
{% endblock content %}